<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Collector</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1 style="text-align: center" >Collector Sign up</h1>
    <div class="container">
    <form>
    <div class="well">
      <h4 style="text-align: center"><b>Collector Title</b></h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" maxlength="64" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="name">Address</label>
        <input type="text" name="address" class="form-control" maxlength="128" placeholder="Address">
      </div>
      <div class="form-group">
        <label for="name">City</label>
        <input type="text" name="city
        " class="form-control" maxlength="64" placeholder="City">
      </div>
      <div class="form-group">
        <label for="name">Pincode</label>
        <input type="number" name="pincode
        " class="form-control" maxlength="6" placeholder="Pincode">
      </div>
      <div class="form-group">
        <label for="name">Phone number</label>
        <input type="number" name="phone_no
        " class="form-control" maxlength="10" placeholder="Phone number">
      </div>
      <div class="form-group">
        <label for="name">Birth Date</label>
        <input type="date" name="birthdate
        " class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Adhaar Number</label>
        <input type="number" name="uid" class="form-control" maxlength="12" placeholder="Adhaar Number">
      </div>
      <div class="form-group">
        <label for="name">E email</label>
        <input type="email" name="email" class="form-control" placeholder="email">
      </div>
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" name="username" class="form-control" maxlength="64" placeholder="username">
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" name="password" class="form-control" maxlength="64" placeholder="password">
      </div>
      <div class="form-group">
        <labe0l for="name">Image</label>
        <input type="file" name="image" class="form-control" >
      </div>


      <div class="button">
       <button class="btn btn-success col-md-offset-11">submit</button>
      </div>
    </div>
    </form>
    </div>
  </body>
</html>
